# --- EMAILJS CONFIGURATION ---

# Public Keys (One for each account if separate, or the same for all)
VITE_EMAILJS_PUBLIC_KEY_CONTACT=_3p-IoZrUzL__Ap0w
VITE_EMAILJS_PUBLIC_KEY_STAFFING=_3p-IoZrUzL__Ap0w
VITE_EMAILJS_PUBLIC_KEY_CAREERS=od2vIhbdFel9_otjO

# Service IDs
VITE_EMAILJS_SERVICE_ID_CONTACT=service_52bnvfg
VITE_EMAILJS_SERVICE_ID_STAFFING=service_6jvojb4
VITE_EMAILJS_SERVICE_ID_CAREERS=service_50j5zce

# Template IDs
VITE_EMAILJS_TEMPLATE_ID_CONTACT=template_5m6ude9
VITE_EMAILJS_TEMPLATE_ID_STAFFING=template_18kbxsa
VITE_EMAILJS_TEMPLATE_ID_CAREERS=template_us60peo

# Recipient Emails (Destination for each form)
VITE_EMAIL_TO_CONTACT=operations@divinesupportservicesinc.org
VITE_EMAIL_TO_STAFFING=operations@divinesupportservicesinc.org
VITE_EMAIL_TO_CAREERS=operations@divinesupportservicesinc.org
